<span *ngIf="loading$ | async">LOADING</span>
<div class="c-gp-profile-edit" *ngIf="profile$ | async">
  <div class="title">
    <span class="text">
      Edit Profile
    </span>
    <div class="buttons">
      <button class="button button-save" [disabled]="profileForm.pristine || (!profileForm.valid)" (click)="save()">
        SAVE
      </button>
      <button class="button" (click)="cancel()">
        CANCEL
      </button>
    </div>
  </div>

  <div class="body">
    <form [formGroup]="profileForm">
      <div class="body-item">
        <span class="item-title">First Name</span>
        <div class="item-body">
          <input type="text" formControlName="firstName">
          <span *ngIf="firstName.invalid
              && (firstName.touched
              || firstName.dirty)"
            class="validation-error-message">
              First name must be provided and may only consist of letters.
          </span>
        </div>
      </div>
      <div class="body-item">
          <span class="item-title">Last Name</span>
          <div class="item-body">
            <input type="text" formControlName="lastName">
            <span *ngIf="lastName.invalid
                && (lastName.touched
                || lastName.dirty)"
              class="validation-error-message"
            >
                Last name must be provided and may only consist of letters.
            </span>
          </div>
        </div>
      <div class="body-item">
        <span class="item-title">Avatar Image URL</span>
        <div class="item-body">
          <input type="text" formControlName="avatarUrl">
          <span *ngIf="avatarUrl.invalid
              && (avatarUrl.touched
              || avatarUrl.dirty)"
            class="validation-error-message"
          >
              Image URL must be provided.
          </span>
        </div>
      </div>
      <div class="body-item">
        <span class="item-title">Average number of hours to game per day</span>
        <div class="item-body">
          <input type="text" formControlName="averageHours">
          <span *ngIf="averageHours.invalid
              && (averageHours.touched
              || averageHours.dirty)"
            class="validation-error-message"
          >
              Average Hours must be provided and must be a number greater than zero.
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
