<div class="c-gp-profile-edit" *ngIf="ready">
  <div class="title">
    <span class="text">
      Edit Profile
    </span>
    <div class="buttons">
      <button class="button button-save">
        SAVE
      </button>
      <button class="button" (click)="cancel()">
        CANCEL
      </button>
    </div>
  </div>

  <div class="body">
    <form [formGroup]="profileForm">
      <div class="body-item">
        <span class="item-title">First Name</span>
        <div class="item-body"><input type="text" formControlName="firstName"></div>
      </div>
      <div class="body-item">
          <span class="item-title">Last Name</span>
          <div class="item-body"><input type="text" formControlName="lastName"></div>
        </div>
      <div class="body-item">
        <span class="item-title">Avatar Image URL</span>
        <div class="item-body"><input type="text" formControlName="avatarUrl"></div>
      </div>
      <div class="body-item">
        <span class="item-title">Average number of hours to game per day</span>
        <div class="item-body"><input type="text" formControlName="averageHours"></div>
      </div>
    </form>
  </div>
</div>
