@import '~src/variables.scss';

.c-gp-profile-edit {
  background-color: $light-blue;
  color: $dark-text;

  .title {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      "text buttons";
    background-color: $blue;
    color: $light-text;
    padding: 10px;
    border-radius: 0.5rem;

    .text {
      grid-area: text;
      justify-self: start;
      align-self: center;
      padding-left: 5px;
      font-size: 22px;
    }

    .buttons {
      grid-area: buttons;
      justify-self: end;
      align-self: center;
    }

    .button {
      align-self: center;
      background-color: $light-blue;
      padding: 7px 50px;
      margin-left: 10px;
      border: none;
      border-radius: 0.25rem;
      color: $blue;
      font-size: 14px;
    }

    .button-save {
      background-color: $green;
      color: $mirage;
    }
  }

  .body {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    background-color: $blue;
    color: $light-text;
    padding: 5px 10px;
    border-radius: 0.5rem;
    text-align: left;

    .body-item {
      justify-self: start;
      padding: 10px 5px;

      .item-title {
        justify-self: start;
        font-weight: bold;
      }
      .item-body {
        justify-self: start;
      }
    }
  }
}

