@import '~src/variables.scss';

.c-gp-header {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-areas:
    "title profile"
    "menu menu";
  background-color: $dark-blue;
  color: $light-text;

  .title {
    justify-self: start;
    align-self: center;
    padding-left: 25px;
    grid-area: title;
    h1 {
      font-weight: bold;
      font-size: 24px;
    }
  }

  .profile {
    grid-area: profile;
    justify-self: center;
    align-self: center;
  }

  .menu {
    grid-area: menu;
  }
}
