<div class="c-gp-profile">
  <div class="title">
    <span class="text">
      My Profile
    </span>
    <button class="button">
      EDIT
    </button>
  </div>

  <div class="body">
    <div class="body-item">
      <span class="item-title">Name</span>
      <div class="item-body">{{profile.firstName}} {{profile.lastName}}</div>
    </div>
    <div class="body-item">
      <span class="item-title">Avatar Image URL</span>
      <div class="item-body">{{profile.image}}</div>
    </div>
    <div class="body-item">
      <span class="item-title">Average Number of Hours to game per day</span>
      <div class="item-body">{{profile.averageNumberOfHoursPerDay}}</div>
    </div>
  </div>
</div>
