/* You can add global styles to this file, and also import other style files */

$dark-blue: #1e2e3b;
$blue: #30495f;
$light-blue: #9dafbd;
$green: #76b43f;
$light-green: #a8ce87;
$red: #b43f3f;
$light-red: #c99898;
$orange: #b48c3f;

// Names from Name That COlour: http://chir.ag/projects/name-that-color
$iron: #d6dbdf;
$mirage: #1e2e3b;
$dove-gray: #6c6c6c;
$blue-bayoux: #405e78;

$light-text: $iron;
$dark-text: $mirage;
$placeholder-text: $dove-gray;
$menu-highlight: $blue-bayoux;

body {
  width: 100%;
  margin: 0;
}
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 250%; };
